[Unit]
Description=BTControl
After=pulseaudio.service bluetooth.service

[Service]
ExecStart=/usr/bin/python3 -u /usr/local/bin/btcontrol
User=pi
Group=pi

[Install]
WantedBy=multi-user.target

